<html ng-app="CommentsApp" lang="en">
<head title="recursion">
  <script src="lib/angular/angular.js"></script>
  <script src="app.js"></script>
  <script type="text/ng-template" id="tree_view">
    <div>
      <header>author: <b>Unknown #{{comment.id}}</b></header>
      <div class="content"> comment body: {{ comment.content }}</div>
      <button ng-hide="showTextarea" ng-init="showTextarea = false" ng-click="showTextarea = true">Ответить</button>
      <button ng-hide="showTextarea" ng-click="deleteComment(comment.id)">удалить этот коммент</button>
      <div ng-show="showTextarea">
        <input ng-model="inputReply">
        <br />
        <button ng-click="addComment(comment.id)">отправить</button>
      </div>
    </div>
    <ul ng-if="comment.children">
      <li ng-repeat="comment in comment.children track by $index" ng-include="'tree_view'">
      </li>
    </ul>
  </script>
  <title>Recursion</title>
</head>

<body>
<div class="article">
  Резонансная статья, которую нужно прокомментировать
</div>
<div ng-controller="commentsController" ng-init="counter = 0">
  <textarea ng-model="commentValue" placeholder="enter the comment"></textarea>
  <div><button ng-click="addComment()">Комментировать</button></div>
  <ul>
    <li ng-repeat="comment in commentList" ng-include="'tree_view'"></li>
  </ul>
</div>
</body>
</html>